.notify__dropdown {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    min-width: 250px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    ;

}

.notify__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.notify__body .ant-dropdown-menu {
    box-shadow: none;
}

.ant-dropdown-menu-item {
    border-bottom: 1px solid #ddd;
}

.notify__body {
    max-height: 200px;
    overflow-y: auto;
}

.notify__item {
    display: flex;


}

.notify__item-icon {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 221, 189);
    border-radius: 50%;
    margin-right: 15px;
}

.notify__item-icon span {
    font-size: 20px;
    color: orange;
}

.notify__item-content {
    flex: 1;
}

.notify__item-title {
    font-weight: 500;
}

.notify__item-time {
    font-size: 12px;
}