.product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    &__item {
        width: 30%;
        border: 1px solid #ddd;
        margin-bottom: 20px;
    }

    &__image {
        width: 100%;
        aspect-ratio: 4/3;
        object-fit: cover;
    }

    &__price-new {
        font-size: 20px;
        font-weight: 700;
        color: green;
    }
    
    &__price-old {
        text-decoration: line-through;
        font-weight: 700;
    }
    &__percent {
        color: orange;
    }
}