

@mixin display-flex() {
    display: flex;
}

@mixin flex-wrap() {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
// Tương tự @extend nhưng @mixin có thể truyền đối số vào được
@mixin border-radius($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
}

@mixin pos-abs($positon, $x , $y) {
    position: absolute;
//Câu lệnh @if @else
    @if($positon == "top-left") {
        top: $x;
        left: $y;
    }
    @else if($positon == "top-right") {
        top: $x;
        right: $y;
    }
     @else if($positon == "bottom-left") {
        bottom: $x;
        left: $y;
    }
    @else if($positon == "bottom-right") {
        bottom: $x;
        right: $y;
    }
     @else{}
}