.cart {
    margin: 20px 0;

    &__item {
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        padding: 10px;
    }

    &__image {
        width: 100px;
        aspect-ratio: 4/3;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        margin-left: 15px;
        flex: 1;
    }
    &__quantity {
        margin-right: 20px;
        input {
            margin: 0  5px;
            width: 40px;
        }
    }
    &__total {
        font-size: 20px;

        span {
            font-size: 24px;
            color: red;
        }
    }
}