.todo__content {
    font-weight: 500;
}

.todo__content--completed {
    text-decoration: line-through;
}

.completed {
    background-color: rgb(42, 165, 61);
}
.delete {
    background-color: red;
}