.login {
    padding: 20px;
    background-color: orange;
    width: 35%;
    margin: 50px auto;
    border-radius: 10px;
    text-align: center;
    &__title {
        font-size: 30px;
        margin-top: 0px;
    }

    &__input {
        input {
            width: 80%;
            border: none;
            padding: 20px;
            margin-bottom: 10px;
            border-radius: 10px;
        }
    }

    &__submit {
        width: 40%;
        border: none;
        padding: 20px;
        margin-bottom: 10px;
        border-radius: 10px;
        margin-top: 10px;
        background-color: #ffff;
        cursor: pointer;
    }
    &__submit:hover {
        background-color: #ddd;
    }
}