.result__tag--true {
    color: green;
    font-weight: 500;
}

.result__tag--false {
    color: red;
    font-weight: 500;
}

.result__item--selected {
    color: red;
    font-weight: 500;
}
.result__item--result {
    color: green;
    font-weight: 500;
}