#tabar {
    top: 0px;
    background-color: #14B8B9;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    
    /* width: 100%; */
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    color: rgba(0, 0, 0, 0.73);
    margin: -25px 0px;
}

#tabar p {
    bottom: -20px;
    position: relative;
}

#header {
    background-color: #f8f8f8;
}

#container {
    position: relative;

}

nav {
    display: flex;
}

#logo img {
    position: relative;
    width: 120px;
    height: auto;
    left: 200px;
    padding: 5px 0px;
}

#main-menu {
    list-style: none;
    position: relative;
    display: flex;
    font-size: 12px;
    left: 250px;
    bottom: -15px;

}

#main-menu li {
    position: relative;
}

#main-menu li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 18px 25px;
}

#main-menu .sub-menu ul {
    margin-top: 30px;
    position: absolute;
    background-color: #f8f8f8;
    padding: 12px 0px 12px 0px;
    list-style: none;
    width: 200px;
    border: 1px solid #3333331f;

}

#main-menu .sub-menu ul a {
    padding: 15px 15px;
    font-size: 12px;
}

#main-menu .sub-menu ul li {
    padding: 15px 0px 0px 0px;
    font-size: 14px;
    border-bottom: 1px solid #3333331f;
}

#main-menu .sub-menu ul li:last-child {
    border-bottom: none;
}

#main-menu .sub-menu ul li:hover {
    border-bottom: 1px solid #1ea8e8cf;
    color: #1490b9;
}

#main-menu .sub-menu ul li:last-child:hover {
    border: none;
}

#main-menu .sub-menu ul {
    display: none;
}

#main-menu li:nth-child(2):hover .sub-menu ul {
    display: block;
}

#main-menu>li a::after {
    content: "";
    height: 2px;
    width: 0px;
    background: black;
    position: absolute;
    bottom: 25px;
    left: 0px;
    transition: all 0.3s ease-in-out;
}

#main-menu>li a:hover:after {
    width: 45%;
    transform: translate(100%);
}

.icon-tabar {
    position: absolute;
    right: 200px;
    padding-top: 25px;
    padding-left: 10px;
}

.fa-magnifying-glass,
.fa-user,
.fa-heart,
.fa-cart-shopping {
    padding: 0px 5px;
    font-size: 20px;
    color: black;

}

.fixed .fa-phone {
    color: white;
    background-color: #E34248;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 100px;
    right: 20px;
    border-radius: 50%;
    z-index: 2;
    text-align: center;
}
.fa-phone:before {
    position: absolute;
    top: 16px;
    left: 17px;
    font-size: 18px;
}
.fixed .fa-facebook-messenger {
    color: white;
    background-color: #426ae3;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 160px;
    right: 20px;
    border-radius: 50%;
    z-index: 2;
    text-align: center;
}
.fa-facebook-messenger::before{
    position: absolute;
    top: 16px;
    left: 17px;
    font-size: 18px;
}
.icon-tabar a{
    text-decoration: none;
}

.walpaper img{

    max-width: 1070px;
    height: auto;
    
}
.walpaper{
    text-align: center;
}
#content{
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    gap: 100px;
    justify-content: center
}
#content .inner-content-1{
    display: flex;
}

#content .inner-content-1 img{
    position:relative;
    top: -3px;
    padding: 0px 5px;
}
#content .inner-content-1 .inner-1{
    margin: 0;
    color: rgba(128, 128, 128, 0.658);
}
.list-dohieumixi{
    gap: 20px;
    display: flex;
    justify-content: center;
}
#dohieumixi h1{
    text-align: center;
}
#dohieumixi .list-dohieumixi p{
    text-align: center;
}
.list-dohieumixi div :hover {
    opacity: .7;
    transform: scale(1.08);
    transition: all 0.3s ease;
}