:root{
    --color-one:#006c10;
    --color-two:#604545;
}

h2{
    color: var(--color-one);
}
p{
    color: var(--color-two);
}
h3{
    --local-color: rgb(14, 217, 14);
    color: var(--local-color);
}
p{
    color: var(--local-color);
}