.product__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.product__item {
    width: 25%;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    margin-left: 30px;
    margin-right: 30px;
    padding: 15px;
}
.product__image {
    width: 100%;
    aspect-ratio: 4/3;
}

.product__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product__title {
    font-size: 18px;
    margin-top: 10px;
}